<%= render "shared/links"%>
<div class="d-flex flex-column justify-content-center align-items-center pt-5">
  <h2 class="page-title"><%= current_user.class %> Profile</h2>
  
  <% if current_user.avatar.present? %>
    <%= image_tag(url_for(current_user.avatar), class: "rounded-circle", style: "width: 150px" )%>
  <% end %>

  <div class="bg-light d-flex justify-content-between mb-3 w-50">
    <span>Name: </span>
    <span><%= current_user.name  %> </span>
  </div>

  <div class="bg-light d-flex justify-content-between mb-3 w-50">
    <span>Phone: </span>
    <span><%= current_user.phone  %> </span>
  </div>

  <% if current_user.doctor? %>
    <div class="bg-light d-flex justify-content-between mb-3 w-50">
      <span>Category: </span>
      <span><%= current_user.category.name  %> </span>
    </div>
    <%= render "profile_doctor_links"%>
  <% else %>
    <%= render "profile_patient_links"%>
  <% end %>
</div>
