<!DOCTYPE html>
<html>
  <head>
    <title>CodicaTestTask</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "main", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container border">
      <%= render "shared/flashes"%>
      <%= yield %>
    </div>
  </body>
</html>
